/* font-family: 'Dancing Script', cursive;
font-family: 'Roboto', sans-serif; */
/* Hex colors are hot plum: #7D0A8A and dark pink: #AB0D61 */

/* global styles */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Dancing Script';
    font-size: 2rem;
    margin: .7em;
    color: #fff;
    text-shadow: 1px 2px 4px #AB0D61;
}

@media screen and (min-width: 1085px) {
    h1 {
        font-size: 2.3rem;
        margin: .7em;
        text-shadow: 1px 2px 4px #AB0D61;
    }
}

h2 {
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 700;
}

@media screen and (min-width: 440px) {
    h2 {
        font-size: 2.8rem;
    }
}

@media screen and (min-width: 1085px) {
    h2 {
        font-size: 4rem;
        margin-top: -15px;
    }
}

h3 {
    margin-top: -10px;
    font-size: 1.2rem;
    margin-bottom: 0px;
    font-style: italic;
    font-weight: 500;
}

@media screen and (min-width: 440px) {
    h3 {
        font-size: 1.3rem;
        margin-top: -1rem;
    }
}

@media screen and (min-width: 1085px) {
    h3 {
        font-size: 2rem;
    }
}

main {
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

@media screen and (min-width: 625px) {
    main {
        top: 50px;
    }
}

/* header */

.fixed {
    position: fixed;
    width: 100%;
    z-index: 2;
    background: #7D0A8A44;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.nav-container {
    display: none;
}

@media screen and (min-width: 625px) {
    .nav-container {
        padding-right: 2em;
        display: contents;
    }
}

.nav {
    padding-left: 0;
    text-align: center;
}

.nav li {
    display: inline-block;
    margin: .5em;
}

.nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: .01em;
}

.nav a:hover {
    text-decoration: underline;
    font-weight: 500;
    font-style: italic;
}

.background-img {
    background: url(images/article-header.jpg) left top no-repeat;
    height: 280px;
    background-size: 200%;
}

@media screen and (min-width: 440px) {
    .background-img {
        height: 350px;
        background-size: 180%;
    }
}

@media screen and (min-width: 550px) {
    .background-img {
        height: 400px;
    }
}

@media screen and (min-width: 1085px) {
    .background-img {
        height: 500px;
        background-size: 100%, cover;
    }
}

.hr {
    width: 100%;
    height: 3.5px;
    background: #7D0A8A;
    background: -moz-linear-gradient(15deg, #7D0A8A 30%, #AB0D61 70%);
    background: -webkit-linear-gradient(15deg, #7D0A8A 30%, #AB0D61 70%);
    background: -o-linear-gradient(15deg, #7D0A8A 30%, #AB0D61 70%);
    background: -ms-linear-gradient(15deg, #7D0A8A 30%, #AB0D61 70%);
    background: linear-gradient(105deg, #7D0A8A 30%, #AB0D61 70%);
    align-self: flex-end;
    flex: 0 0 100%;
}

/* body */

.article-title {
    margin: 3% 10%;
}

@media screen and (min-width: 550px) {
    .article-title {
        margin: 3% 15%;
    }
}

.article-title p {
    color: #7D0A8A9d;
    font-style: italic;
    font-size: 1rem;
}

span {
    color: #7D0A8A;
}

article {
   width: 98%;
   margin: 0 auto;
}

@media screen and (min-width: 550px) {
    article {
        width: 90%;
     }  
}

.hr-two {
    width: 25%;
    height: 8px;
    margin: 5% 0 0 10%;
    background: #7D0A8A;
    background: -moz-linear-gradient(15deg, #7D0A8A 30%, #AB0D61 70%);
    background: -webkit-linear-gradient(15deg, #7D0A8A 30%, #AB0D61 70%);
    background: -o-linear-gradient(15deg, #7D0A8A 30%, #AB0D61 70%);
    background: -ms-linear-gradient(15deg, #7D0A8A 30%, #AB0D61 70%);
    background: linear-gradient(105deg, #7D0A8A 30%, #AB0D61 70%);
}

@media screen and (min-width: 550px) {
    .hr-two {
        width: 15%;
        margin: 5% 0  0 15%;
    }
}

.article-content {
    width: 80%;
    margin: 0 auto 12% auto;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
}

@media screen and (min-width: 440px) {
    .article-content {
        font-size: 1.1rem;
        line-height: 1.8rem;
    }
}

@media screen and (min-width: 550px) {
    .article-content {
        font-size: 1.3rem;
        line-height: 30px;
        width: 80%;
        margin-bottom: 5%;
    }
}

article img {
    display: none;
}

@media screen and (min-width: 550px) {
    article img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.btn {
    text-align: center;
    margin: 0 auto;
    height: 180px;
    width: 80%;
    padding: 1em;
    background: #7D0A8A44;
}

@media screen and (min-width: 550px) {
    .btn {
        width: 80%;
    }
}

.btn a {
    display: inline-block;
    margin: 5% 7%;
    padding: .6em;
    background: #AB0D61;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

@media screen and (min-width: 440px) {
    .btn a {
        font-size: 1.3em;
    }
}

@media screen and (min-width: 550px) {
    .btn a {
        width: auto;
        font-size: 1.4rem;
        padding: .5em;
        margin: 5% 7%;
    }
}

.btn a:hover {
    background: #ffffffcc;
    color: #7D0A8A;
    box-shadow: inset 0px 0px 0px 2px #7D0A8A;
    box-sizing: border-box;
}

footer {
    text-align: center;
    max-width: 100%;
    padding: 1em;
    position: relative;
    background: #7D0A8A;
    background: -moz-linear-gradient(15deg, #7D0A8A 30%, #AB0D61 70%);
    background: -webkit-linear-gradient(15deg, #7D0A8A 30%, #AB0D61 70%);
    background: -o-linear-gradient(15deg, #7D0A8A 30%, #AB0D61 70%);
    background: -ms-linear-gradient(15deg, #7D0A8A 30%, #AB0D61 70%);
    background: linear-gradient(105deg, #7D0A8A 30%, #AB0D61 70%);
}

@media screen and (min-width: 550px) {
    footer {
        padding: 2em;
    }
}

footer p {
    display: inline-block;
    margin: 1em;
    color: #fff;
}

@media screen and (min-width: 550px) {
    footer p {
        margin: 20px;
    }
}